[Unit]
Description=Load cell
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=victator
WorkingDirectory=/home/victator/embedded-software-2023-2024/load_cell/
ExecStart=/home/victator/embedded-software-2023-2024/load_cell/run.sh

[Install]
WantedBy=multi-user.target